.bg-success{
    background-color:#FEEAE9 !important ;
}
.side-collage img{
    height: 500px;
}
.first-image img{
    height: 700px;
}
.bottom-img img{
    height: 200px;
}
.pseudo::before{
        content:'Hello, ';
        color: chartreuse;
    }
    .pseudo::after{
        content:' End';
        color: crimson;
    }

    .section-title::after,
.section-title:hover::before{
    content: '';
    background-color: orangered;
    height: 2px;
    width: 100%;
    display: block;
   
    
}
.section-title{
    display: inline-block;
}

blockquote::before{
    content: open-quote;
    color: lightcoral;
    font-size: 2.5em;
}
blockquote::after{
    content: close-quote;
    color: rgb(236, 0, 0);
    font-size: 2.5em;
}
.add-p-tag::marker{
    content: '*,';
}